body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
}

.container {
  width: 600px;
  margin: 50px auto;
  background:white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.formulario {
  margin-top: 20px;
}

input {
  padding: 10px;
  width: 70%;
}

button {
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.lista {
  margin-top: 20px;
}

.ideia {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.ideia span {
  flex: 1;
  margin-left: 10px;
}

.feita {
  text-decoration: line-through;
  color: gray;
}

.erro {
  color: red;
}

.contador {
  margin-top: 20px;
}